[submodule "thirdparty/espeak-ng"]
	path = thirdparty/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
[submodule "thirdparty/ucd-tools"]
	path = thirdparty/ucd-tools
	url = https://github.com/rhdunn/ucd-tools.git
